// variables
$color-body: #f0cb7bd0;
$color-header: #41b3a3;
$color-editor: rgba(76, 188, 240, 0.952);
$color-preview: #d34fdf;

body {
  background: $color-body;
}
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(241, 178, 61); 
    border-radius: 10px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e68a22; 
  }
.header {
  top:0;
  left:0;
  width: 100%;
  margin-top: 0;
  padding: 0;
  background: #e68a22;
    #page-header{
      margin-top: 0;
  padding:5px;
  color:white;
  text-decoration: underline;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  
}}
#content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#editor-container {
  text-align: center;
  padding: 2rem;
  #editor-label {
    margin-bottom: 0;
    min-width: 33%;
    font-size: 2rem;
    color: white;
  }
  #editor {
      box-sizing: border-box;
      border: 0.6rem solid  rgba(36, 111, 146, 0.973);;
    background: rgba($color-editor, 0.68);
    content: "guru";
  }
}
#preview-container {
  margin-top: 0px;
  #preview {
    background: rgb(233, 180, 185);
    margin-bottom: 0.4rem;
    min-height: 10rem;
    min-width: 30vw;
    width: fit-content;
    box-sizing: border-box;
    padding: .4rem;
    border: .8rem solid rgb(168, 104, 110);
    margin: auto;
  }
  #preview-label {
    text-align: center;
    color: white;
    margin: 0;
    font-size: 2rem;
  }
}
#footer
{
  color: white;
  background: #e68a22;
  padding: 0;
  // position:fixed;
  bottom:0;
  left:0;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  #logo
  {
    height: 3rem;
  }
}